body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

a {
  color: orange;
}
a:hover {
  color: black;
}

#blue {
  padding: 50px 0;
}
#blue .box {
  display: flex;
  justify-content: space-around;
}
#blue .box .minibox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #3e5f80;
  width: 200px;
  height: 200px;
  background-color: #71a7c9;
}
#blue .box .minibox .textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #325373;
  transition: 3s;
}
#blue .box .minibox .textbox h1 {
  color: white;
  font-size: 20px;
  font-weight: 700;
}
#blue .box .minibox:hover .textbox {
  width: 150px;
  height: 150px;
}
@media (max-width: 750px) {
  #blue .box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#demo {
  padding: 50px 0;
}
#demo .box {
  display: flex;
  justify-content: space-around;
}
#demo .box .minibox .textbox {
  width: 200px;
  height: 100px;
  background-color: #856476;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 15px 65px;
  transition: 2s;
}
#demo .box .minibox:hover .textbox {
  cursor: pointer;
  border: 5px solid #856476;
  background-color: #422739;
}
@media (max-width: 800px) {
  #demo .box .minibox .textbox {
    width: 100px;
    height: 50px;
    background-color: rgb(104, 110, 168);
    padding: 15px 23px;
  }
}
@media (max-width: 600px) {
  #demo .box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #demo .box .minibox .textbox {
    width: 100px;
    height: 50px;
    background-color: rgb(104, 110, 168);
    padding: 15px 23px;
  }
}
@media (max-width: 500px) {
  #demo .box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #demo .box .minibox .textbox {
    width: 50px;
    background-color: rgb(60, 13, 13);
    font-size: 8px;
    padding: 10px 15px;
  }
}

#radius {
  padding: 50px 0;
}
#radius .box {
  display: flex;
  justify-content: space-around;
}
#radius .box .minibox .textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: rgb(145, 104, 66);
  border-radius: 100px;
  transition: 2s;
}
#radius .box .minibox .textbox h1 {
  color: white;
  font-size: 25px;
  font-weight: 700;
}
#radius .box .minibox:hover .textbox {
  border-radius: 40px;
}
@media (max-width: 800px) {
  #radius .box .minibox .textbox {
    width: 50px;
    height: 50px;
    background-color: rgb(188, 206, 111);
  }
}
@media (max-width: 500px) {
  #radius .box {
    display: flex;
    flex-direction: column;
  }
}

#text {
  padding: 40px 0;
}
#text .box .minibox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  background-color: rgb(86, 109, 131);
  margin: 20px;
}
#text .box .minibox h1 {
  color: white;
  font-size: 30px;
}
#text .absolute {
  position: absolute;
  left: 420px;
  top: 1720px;
}

#lesson {
  padding: 40px 0;
}
#lesson .box .minibox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  background-color: rgb(105, 144, 107);
  margin: 20px;
}
#lesson .box .minibox h1 {
  color: white;
  font-size: 30px;
}
#lesson .absolute {
  position: absolute;
  left: 420px;
  top: 2260px;
}/*# sourceMappingURL=style.css.map */